@model AuctionWeb.ViewModels.Users.RegisterModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

    <div class="form-horizontal">
        <h4>RegisterModel</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        
        <div class="form-floating">
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = " " })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Name" })
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = " " })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = " " })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-floating">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = " " })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="">
            <div class="">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
