@using AuctionBLL.Enums
@using Microsoft.AspNet.Identity
@model AuctionWeb.ViewModels.Lots.LotDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2 class="mt-3">Details</h2>
<h2>@Model.Status.ToString()</h2>
<div>
    
    <hr/>
    
    <div class="row">

        <div class="col-8">
            
            <div class="mb-3">
                <div>
                    @Html.LabelFor(model => model.StartDate, "Start date:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.StartDate)
                </div>

                <div>
                    @Html.LabelFor(model => model.EndDate, "End date:", new { @class = "form-label fw-bolder" })
                    @if (Model.EndDate is null)
                    {
                        <text>Missing</text>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.EndDate)
                    }
                </div>

                <div>
                    @Html.LabelFor(model => model.ProlongationTime, "Prolongation time:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.ProlongationTime)
                </div>

                <div>
                    @Html.LabelFor(model => model.ActualPrice, "Actual price:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.ActualPrice.Amount)
                    @Html.DisplayFor(model => model.ActualPrice.Currency.IsoName)
                </div>
                
                <div>
                    @Html.LabelFor(model => model.MinStepPrice, "Actual price:", new { @class = "form-label fw-bolder" })
                    @Html.DisplayFor(model => model.MinStepPrice.Amount)
                    @Html.DisplayFor(model => model.MinStepPrice.Currency.IsoName)
                </div>
            </div>

            @{
                var userId = User.Identity.GetUserId();
                if (userId != Model.Owner.Id)
                {

                    if (Model.Participants.Select(user => user.Id).Contains(userId) == false
                        && (Model.Status == LotStatus.Created || Model.Status == LotStatus.Opened))
                    {

                        using (Html.BeginForm("SetUserAsParticipant", "Lots", FormMethod.Post))
                        {
                            <div class="d-none">
                                <input class="" id="lotId" name="lotId" value="@Model.Id" type="text">
                            </div>

                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary">Set self as participant</button>
                            </div>
                        }

                    }
                    else if(Model.Status == LotStatus.Opened)
                    {
                        using (Html.BeginForm("SetNewPrice", "Lots", FormMethod.Post))
                        {

                            var newPrice = 0m;

                            <div class="row">

                                <div class="d-none">
                                    <input class="" id="lotId" name="lotId" value="@Model.Id" type="text">
                                </div>

                                <div class="form-floating mb-3 col-md-6">
                                    @Html.Editor(nameof(newPrice), new {htmlAttributes = new {@class = "form-control", @placeholder = "New price"}})
                                    @Html.Label(nameof(newPrice), htmlAttributes: new {@class = " "})
                                </div>

                                <div class="mb-3 col-md-4">
                                    <button type="submit" class="btn btn-primary">Make step</button>
                                </div>
                            </div>
                        }
                    }
                }
            }

        </div>

        <div class="col-4">

            <div class="">
                @Html.LabelFor(model => model.Name, "Name:", new {@class = "form-label fw-bolder"})
                @Html.DisplayFor(model => model.Name)
            </div>

            <div class="">
                @Html.LabelFor(model => model.Description, "Description:", new {@class = "form-label fw-bolder"})
                @Html.DisplayFor(model => model.Description)
            </div>

        </div>

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
