@model IEnumerable<AuctionWeb.ViewModels.News.NewsListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Auction</h1>
    <p class="lead">Great auction build on ASP.NET Framework MVC5</p>
</div>

<div class="container">
    
    <hr />
    
    <div class="row justify-content-center">
        @if (User.IsInRole("admin"))
        {
            @Html.ActionLink("Create news", "NewsCreate", new { area = "" }, new { @class = "btn btn-outline-primary col-md-4" })
        }
    </div>

    <div class="row justify-content-center">
       
        <div class="col-md-8 ">
            @foreach (var news in Model)
            {


                <hr class="mb-3" />
                <div>
                    <p class="fs-3">
                        @news.Title
                    </p>
                </div>
                <div>
                    <p class="fs-5">
                        @news.Text
                    </p>
                    <p class="fs-6">
                        @news.DateOfCreation
                    </p>

                    @Html.ActionLink("View", "NewsDetails", new { id = news.Id }, new { @class = "btn btn-outline-primary" })
                </div>
            
        }
            </div>
        </div>
</div>